{% comment %}
    Renders the theme navigation

    Accepts:
    - section_blocks: {Object} The navigation section blocks.
    - icon: {String} One of 'plus', 'chevron', 'none'.
    - statically_render_mobile_locales: {Boolean} true/false - places locale snippet in mobile menu without using js clone
    - show_top_divider: {Boolean} Show top border
    - show_bottom_divider: {Boolean} Show bottom border

    Usage:
    {% render 'ship-main-navigation' with section_blocks: section.blocks %}
{% endcomment %}

{% liquid 
  if statically_render_mobile_locales == blank
    assign statically_render_mobile_locales = false
  else 
    assign statically_render_mobile_locales = statically_render_mobile_locales
  endif

  if top_level_font == 'body'
    assign body_font_classes = ' [&*]:lg:font-body [&*]:lg:text-body [&*]:lg:normal-case'
  endif
%}

<div
  data-armada-selector="main-navigation"
  data-armada-animation="fade"
  id="main-navigation"
  role="navigation"
  class="overflow-x-hidden overflow-y-auto invisible lg:visible lg:min-h-0 lg:h-full flex flex-col items-start lg:items-center absolute bottom-0 left-0 right-0 translate-y-full opacity-0 lg:opacity-100 z-[101] pb-xl lg:pb-0 lg:static lg:transform-none bg-page main-navigation{% if show_top_divider %} lg:border-t lg:border-t-theme{% endif %}{% if show_bottom_divider %} lg:border-b lg:border-b-theme{% endif %} {{ body_font_classes }}"
>
  <ul class="lg:h-full inline-flex flex-col lg:flex-row flex-wrap w-full px-xl lg:pl-2xl lg:pr-0 {{ alignment }}" data-aid="navigation-items">
    {% assign menu_index = 1 %}
    {% for block in section_blocks %}
      {% case block.type %}
        {% when 'standard_menu' %}
          {% for link in block.settings.default_navigation.links %}
            {% render 'armament-navigation-list-item' with item_index: menu_index, heading: link.title, heading_link: link.url, navigation: link.links, show_desktop_icons: show_desktop_icons, block_attributes: block.shopify_attributes, active: link.active, icon: icon, menu_index: menu_index %}
            {% assign menu_index = menu_index | plus: 1 %}
          {% endfor %}

        {% when 'mega_menu' %}
          {% render 'armament-navigation-list-item' with item_index: menu_index, heading: block.settings.heading, heading_link: block.settings.heading_link, show_desktop_icons: show_desktop_icons, navigation: block.settings.menu.links, block_attributes: block.shopify_attributes, menu_index: menu_index, image_1: block.settings.image_1, image_heading_1: block.settings.image_heading_1, image_link_1: block.settings.image_link_1, image_2: block.settings.image_2, image_heading_2: block.settings.image_heading_2, image_link_2: block.settings.image_link_2, image_3: block.settings.image_3, image_heading_3: block.settings.image_heading_3, image_link_3: block.settings.image_link_3, overlay_color: block.settings.overlay_color_scheme, overlay_opacity: block.settings.overlay_opacity, icon: icon, aspect: block.settings.image_aspect, text_color: block.settings.text_color_scheme %}
          {% assign menu_index = menu_index | plus: 1 %}

        {% when 'menu_link' %}
          {% render 'armament-navigation-list-item' with item_index: menu_index, heading: block.settings.heading, heading_link: block.settings.heading_link, show_desktop_icons: show_desktop_icons, block_attributes: block.shopify_attributes, icon: icon, menu_index: menu_index %}
          {% assign menu_index = menu_index | plus: 1 %}

        {% when 'gallery_nav' %}
          {% render 'armament-navigation-list-item' with item_index: menu_index, heading: block.settings.heading, heading_link: block.settings.heading_link, show_desktop_icons: show_desktop_icons, visual: true, block_attributes: block.shopify_attributes, menu_index: menu_index, image_1: block.settings.image_1, image_heading_1: block.settings.image_heading_1, image_link_1: block.settings.image_link_1, image_2: block.settings.image_2, image_heading_2: block.settings.image_heading_2, image_link_2: block.settings.image_link_2, image_3: block.settings.image_3, image_heading_3: block.settings.image_heading_3, image_link_3: block.settings.image_link_3, image_4: block.settings.image_4, image_heading_4: block.settings.image_heading_4, image_link_4: block.settings.image_link_4, overlay_color: block.settings.overlay_color_scheme, overlay_opacity: block.settings.overlay_opacity, aspect: block.settings.image_aspect, icon: icon, text_color: block.settings.text_color_scheme %}
          {% assign menu_index = menu_index | plus: 1 %}

      {% endcase %}
    {% endfor %}
    {% if shop.customer_accounts_enabled %}
      {% assign account_title = 'customer.account.title' | t %}
      {% assign login_title = 'customer.account.login' | t %}
      {% assign logout_title = 'customer.account.logout' | t %}
      {% assign register_title = 'customer.account.create_acc' | t %}
      {% if customer %}
        {% render 'armament-navigation-list-item' with heading: account_title, heading_link: routes.account_url, show_desktop_icons: show_desktop_icons, icon: icon, link_only_classes: 'lg:hidden', classes: 'lg:mr-0' %}
      {% else %}
      {% render 'armament-navigation-list-item' with heading: login_title, heading_link: routes.account_login_url, show_desktop_icons: show_desktop_icons, icon: icon, link_only_classes: 'lg:hidden', classes: 'lg:mr-0' %}
        {% if shop.customer_accounts_optional %}
        {% render 'armament-navigation-list-item' with heading: register_title, heading_link: routes.account_register_url, show_desktop_icons: show_desktop_icons, icon: icon, link_only_classes: 'lg:hidden', classes: 'lg:mr-0' %}
        {% endif %}
      {% endif %}
    {% endif %}
  </ul>
  {% if statically_render_mobile_locales %}
    <div data-armada-selector="mobile-locales-container" class="lg:hidden upto-lg:flex w-full items-end gap-l justify-end p-l px-xl">
      {% unless request.design_mode %}
        <template>
      {% endunless %}
          <div data-armada-selector="mobile-locales">
            {% render 'armament-localization-selector' with add_locale_snippet_to_mobile: true, country_classes: 'lg:hidden', lang_classes: 'lg:hidden', show_country: true, show_languages: true, classes: 'font-heading heading-font-styles', country_selector_id: 'countryListMobile', language_selector_id: 'languageListMobile' %}
          </div>
      {% unless request.design_mode %}
        </template>
      {% endunless %}
    </div>
  {% endif %}
</div>

<safe-load-scripts>
  <script src="{{ 'component-navigation-item.min.js' | asset_url }}" defer="defer" type="module" data-armada-load-key="navigation-item"></script>
  <script src="{{ 'component-nav-link.min.js' | asset_url }}" defer="defer" type="module" data-armada-load-key="nav-link"></script>
</safe-load-scripts>
