{% assign noResultsString = 'general.search.no_results_html' | t: terms: search.terms, type: type %}
<div class="h-[70vh] flex justify-center p-xl lg:p-2xl text-body">
  <p class="text-b2 text-center">{{ noResultsString }}</p>
</div>
