{% comment %}

    Renders a 'image with offer' banner

    Accepts:
    - image_offer: {Object} Shopify image object
    - link (optional): {URL} Image link

    Usage:
    {% render 'ship-image-with-offer' with image_offer: image_offer, link: link %}

{% endcomment %}


<div data-aid="image-with-offer" class="mb-l md:mb-xl" data-armada-animation="image-load-on-scroll">
    {% if link != blank %}
        <div data-armada-animation="image-link">
            <a href="{{ link }}" aria-label="{{ link | split: '/' | last | replace: '-', ' ' | capitalize }}">
    {% endif %}

        {% if image_offer != blank %}
            {% render 'armament-image' with image: image_offer %}
        {% else %}
            {% render 'armament-placeholder' with name: 'lifestyle-2' %}
        {% endif %}

    {% if link != blank %}
            </a>
        </div>
    {% endif %}
</div>

