<toast-item
  data-armada-selector="toast-{{ type }}"
  duration={{ duration }}
  class="block bg-page text-body w-full md:w-[370px] shadow-lg relative p-l md:p-xl invisible -z-[1] toast-item translate-y-full md:-translate-y-full"
  role="dialog"
  aria-modal="true"
  data-armada-animation="general"
  data-aid="toast"
>
  <div data-armada-animation="grid">
    <div class="flex justify-between items-center">
      <div class="flex items-center" data-armada-animation="grid-item">
        {% render 'armament-icon' with icon: icon, classes: 'mr-s' %}
        {% render 'armament-heading' with tag: 'h2', heading_type: 'heading-5', attributes: 'data-armada-selector="toast-heading"', classes: '!pb-0' %}
      </div>
      <button type="button" aria-label="Close toast" class="w-11 h-11 flex justify-center items-center absolute top-0 right-0 md:top-s md:right-2 group{% if type == 'form-submit' %} outline-0{% endif %}" data-armada-selector="toast-close" data-armada-animation="icon">
        {% render 'armament-icon' with icon: 'cancel' %}
      </button>
    </div>
    <div>
      <div data-armada-selector="toast-info" data-armada-animation="grid-item"></div>
      <div data-armada-selector="toast-html-container" class="pr-l" data-armada-animation="grid-item"></div>
      {% if type == 'atc' %}
        <div class="pt-l">
          <div data-armada-selector="toast-cart-item" data-armada-animation="grid-item"></div>
          {% assign goToCart = 'products.product.go_to_cart' | t %}
          <div data-armada-animation="grid-item">
            {% render 'armament-button' with url: routes.cart_url, content: goToCart, classes: 'w-full' %}
          </div>
        </div>
      {% endif %}
    </div>
    <div class="absolute left-0 right-0 bottom-0">
      {% if type == 'error' or type == 'email' %}
        <div class="h-xs" style="background-color:{% if color %}{{ color }}{% else %}red{% endif %}"></div>
      {% else %}
        {% render 'armament-progress-bar' with interval: duration, play: "false" %}
      {% endif %}
    </div>
  </div>
</toast-item>
