<section class="theme-section-padding w-full text-center bg-page text-body" data-color-scheme="{{ section.settings.section_color_scheme }}">
  <div class="max-w-content">
    {{ section.settings.custom_liquid }}
  </div>
</section>

{% schema %}
{
  "name": "Custom liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom liquid",
      "default": "<div class='text-center'><h2 class='font-heading heading-font-styles text-headings break-anywhere text-h2 leading-heading mb-xl'>Custom liquid</h2><p>Use this advanced section to create customizations by adding snippets or other liquid code.</p></div>"
    },
    {
      "type": "header",
      "content": "Color scheme"
    },
    {
      "type": "select",
      "id": "section_color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "general",
          "label": "General"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "accent-3",
          "label": "Accent 3"
        }
      ],
      "default": "general"
    }
  ],
  "presets": [
    {
      "name": "Custom liquid"
    }
  ]
}
{% endschema %}
