{%liquid
  case section.settings.text_align
    when 'left'
      assign justify_flex = 'justify-start'
    when 'center'
      assign justify_flex = 'justify-center'
    when 'right'
      assign justify_flex = 'justify-end'
  endcase
%}

{% if collection.description != blank %}
<section data-color-scheme="{{ section.settings.color_scheme }}" class="theme-section-padding bg-page flex {{ justify_flex }}">
	<div class="max-w-content rte prose prose-strong:text-body prose-blockquote:text-body prose-figcaption:text-body text-body text-{{ section.settings.text_align }}">
		{{ collection.description }}
	</div>
</section>
{% endif %}

{% schema %}
  {
    "name": "Collection description",
    "settings": [
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "options": [
          {
            "value": "general",
            "label": "General"
          },
          {
            "value": "accent-1",
            "label": "Accent 1"
          },
          {
            "value": "accent-2",
            "label": "Accent 2"
          },
          {
            "value": "accent-3",
            "label": "Accent 3"
          }
        ],
        "default": "general"
      },
			{
				"type": "select",
				"id": "text_align",
				"label": "Text alignment",
				"default": "center",
				"options": [
					{
						"label": "Center",
						"value": "center"
					},
					{
						"label": "Left",
						"value": "left"
					},
					{
						"label": "Right",
						"value": "right"
					}
				]
			}
    ],
    "presets": [
      {
        "name": "Collection description"
      }
    ],
    "templates": ["collection"]
  }
{% endschema %}