{%- liquid
  if product.metafields.specifications != blank or product.metafields.specification != blank
    assign has_specification_metafields = true
  endif
  if has_specification_metafields and section.settings.keys != blank
    assign show_specifications = true
  endif
  if show_specifications or request.design_mode
    assign text_content = true
  endif
  if section.settings.desktop_image != blank and text_content and section.settings.desktop_image_position != 'above'
    assign columns = true
  endif

  unless section.settings.desktop_image_height == 'original'
    assign desktop_image_height = ' ' | append: section.settings.desktop_image_height
  endunless
-%}

{% capture metafieldMessage %}
  <p class="text-left md:text-center !mt-0">To use this section create <a target="_blank" href="/admin/metafields/product/create">product metafields</a> with a namespace of “specifications”. Use any name for the key, this will be used for your label. We support all ‘Measurement’, ‘Text’ and ‘Rating’ content types. <a target="_blank" href="https://support.eightthemes.com/hc/en-us/articles/8283331726865">Learn more.</a></p>
{% endcapture %}

{% unless show_specifications %}
  <div class="theme-section-margin">
    {% render 'armament-metafield-theme-editor-message' with is_full_width_editor_message: true, metafield_message: metafieldMessage, editor_message_metafield_type: 'product specification' %}
  </div>
{% endunless %}

{% if show_specifications or section.settings.desktop_image != blank or section.settings.subheading != blank or section.settings.heading != blank %}
  <section data-color-scheme="{{ section.settings.bg_color_scheme }}" class="bg-page text-body theme-section-padding">
    <div class="bg-page text-body max-w-content" data-color-scheme="{{ section.settings.card_color_scheme }}">
      {% if section.settings.subheading != blank or section.settings.heading != blank %}
        <div class="{{ section.settings.heading_alignment }} pb-l md:pb-xl">
          {% if section.settings.subheading != blank %}
            {% render 'armament-heading' with tag: 'h4', heading_content: section.settings.subheading, classes: 'last:!pb-0', heading_type: 'heading-4', data_aid: 'product-specifications-subheading' %}
          {% endif %}
          {% if section.settings.heading != blank %}
            {% render 'armament-heading' with tag: 'h2', heading_content: section.settings.heading, classes: 'last:!pb-0', heading_type: 'section-heading', data_aid: 'product-specifications-heading' %}
          {% endif %}
        </div>
      {% endif %}

      <div class="{% if columns %}md:grid md:grid-cols-2 md:gap-xl{% endif %}">
        {% if section.settings.desktop_image != blank or section.settings.mobile_image != blank %}
          <div class="pb-l{% if columns %} md:pb-0{% else %} md:pb-xl{% endif %}{% if section.settings.desktop_image_position == 'right' %} md:order-1{% endif %}">
            {% liquid
              if section.settings.desktop_image != blank and section.settings.mobile_image != blank
                assign desktop_image_classes = 'hidden md:block m-auto w-full' | append: desktop_image_height
                render 'armament-image' with image: section.settings.desktop_image, classes: desktop_image_classes
                render 'armament-image' with image: section.settings.mobile_image, classes: 'md:hidden block m-auto'

              elsif section.settings.desktop_image != blank and section.settings.mobile_image == blank
                assign desktop_image_classes = 'm-auto w-full' | append: desktop_image_height
                render 'armament-image' with image: section.settings.desktop_image, classes: desktop_image_classes

              elsif section.settings.desktop_image == blank and section.settings.mobile_image != blank
                render 'armament-image' with image: section.settings.mobile_image, classes: 'md:hidden block m-auto'
              endif
            %}
          </div>
        {% endif %}

        {% if show_specifications %}
          <div class="{{ section.settings.data_alignment }}">
            {% render 'ship-spec-table' with spec_product: product, type: 'section', keys: section.settings.keys, spec_aid: 'full-section-spec' %}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Specification table",
  "settings": [
    {
      "type": "paragraph",
      "content": "To use this section create [product metafields](/admin/metafields/product/create) with a namespace of “specifications”. Use any name for the key, this will be used for your label. We support all ‘Measurement’, ‘Text’ and ‘Rating’ content types. [Learn more](https://support.eightthemes.com/hc/en-us/articles/8283331726865)"
    },
    {
      "type": "text",
      "id": "keys",
      "label": "Metafield keys",
      "info": "Add the specification metafield keys, separated with commas (E.g. height,width,depth)."
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-left"
    },
    {
      "type": "select",
      "id": "data_alignment",
      "label": "Data alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-left"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop image (optional)"
    },
    {
      "type": "select",
      "id": "desktop_image_height",
      "label": "Desktop image height",
      "options": [
        {
          "value": "md:h-[200px]",
          "label": "Small"
        },
        {
          "value": "md:h-[300px]",
          "label": "Medium"
        },
        {
          "value": "md:h-[400px]",
          "label": "Large"
        },
        {
          "value": "original",
          "label": "Original"
        }
      ],
      "default": "original"
    },
    {
      "type": "select",
      "id": "desktop_image_position",
      "label": "Desktop image position",
      "options": [
        {
          "value": "above",
          "label": "Above"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "above"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image (optional)"
    },
    {
      "type": "header",
      "content": "Color scheme"
    },
    {
      "type": "select",
      "id": "bg_color_scheme",
      "label": "Background color scheme",
      "options": [
        {
          "value": "general",
          "label": "General"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "accent-3",
          "label": "Accent 3"
        }
      ],
      "default": "general"
    },
    {
      "type": "select",
      "id": "card_color_scheme",
      "label": "Card color scheme",
      "options": [
        {
          "value": "general",
          "label": "General"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "accent-3",
          "label": "Accent 3"
        }
      ],
      "default": "general"
    }
  ],
  "presets": [
    {
      "name": "Specification table"
    }
  ],
  "enabled_on": {
    "templates": [
      "product"
    ]
  }
}
{% endschema %}
