{%- capture get_blocks -%}
  {%- for block in section.blocks -%}
    {{ block.type | lstrip }}{%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}
{%- endcapture -%}

{% assign block_order = get_blocks | join: ',' | lstrip | strip %}

<div data-armada-animation="grid-on-scroll" data-armada-animation-threshold="0">
  <div data-armada-animation="grid-item"></div>
  <div class="w-full text-body bg-page py-2xl px-xl lg:p-2xl" data-armada-animation="grid-item">
    {% unless settings.show_smart_checkout %}
      {% assign button_wrapper_classes = 'mb-xl' %}
    {% endunless %}

    {% liquid
      assign cross_sell_block = section.blocks | where: 'type', 'cross-sells' | first

      if cross_sell_block != blank
        assign aspect_ratio = cross_sell_block.settings.product_cards_aspect_ratio
        assign pclass = cross_sell_block.settings.product_cards_crop_position
      endif
    %}

    {% render 'ship-product-form' with form_product: product, dynamic_buttons: settings.show_smart_checkout, block_order: block_order, option_classes: 'flex flex-col', select_wrapper_classes: 'w-full mb-l md:mb-xl' button_style: 'outline', button_wrapper_classes: button_wrapper_classes, price_classes: 'mb-l md:mb-xl', product_card_alignment: section.settings.product_card_alignment, enable_quick_view: false, product_card_aspect_ratio: aspect_ratio, product_card_position: pclass %}
  </div>
</div>

{% schema %}
{
  "class": "product-main-form grow",
  "name": "Product form",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "name": "Title",
      "type": "title",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "Show vendor",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_sku",
          "label": "Show SKU",
          "default": true
        }
      ]
    },
    {
      "name": "Price",
      "type": "price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_tax_included_text",
          "label": "Show tax included message",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_shipping_policy",
          "label": "Show shipping policy",
          "default": false
        }
      ]
    },
    {
      "type": "description",
      "name": "Product description",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_accordion",
          "label": "Enable accordion",
          "default": true
        },
        {
          "type": "text",
          "id": "description_heading",
          "label": "Heading",
          "default": "Details"
        }
      ]
    },
    {
      "type": "options",
      "name": "Product options",
      "limit": 1,
      "settings": [
        {
          "type": "radio",
          "id": "options_type",
          "label": "Style",
          "options": [
            {
              "value": "buttons",
              "label": "Buttons"
            },
            {
              "value": "dropdowns",
              "label": "Dropdowns"
            }
          ],
          "default": "buttons"
        },
        {
          "type": "checkbox",
          "id": "preselect_variant",
          "label": "Preselect variant",
          "default": true,
          "info": "Preselect the first in-stock variant."
        },
        {
          "type": "text",
          "id": "color_swatch_identifier",
          "label": "Color swatch",
          "default": "color,colour,couleur,colore,farbe,색,色,färg,farve",
          "info": "Comma separated list of option titles that will use a swatch. Requires 'Type' to be set to 'buttons'.[Learn how to set up color swatches.](https://support.eightthemes.com/hc/en-us/articles/5881662024209)"
        }
      ]
    },
    {
      "name": "Quantity",
      "type": "quantity",
      "limit": 1
    },
    {
      "type": "payment-buttons",
      "name": "Payment buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "preorder",
          "label": "Enable preorder",
          "default": false,
          "info": "This will switch the 'Add to cart' message to 'Preorder' and remove the dynamic payment buttons on all products assigned to this template. This functionality will not work on products with tracked inventory. [Learn more](https://support.eightthemes.com/hc/en-us)"
        }
      ]
    },
    {
      "type": "stock-level-indicator",
      "name": "Stock level indicator",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "stock_range",
          "min": 1,
          "max": 50,
          "step": 1,
          "label": "Show low stock warning at",
          "default": 5,
          "info": "Product inventory must be tracked to use this functionality."
        },
        {
          "type": "checkbox",
          "id": "show_stock_count",
          "label": "Show stock level count",
          "default": true
        },
        {
          "type": "text",
          "id": "in_stock_message",
          "label": "In stock message",
          "default": "Ready to ship"
        },
        {
          "type": "text",
          "id": "low_stock_message",
          "label": "Low stock message",
          "default": "Selling fast"
        },
        {
          "type": "text",
          "id": "out_of_stock_message",
          "label": "Out of stock message",
          "default": "Back in soon"
        },
        {
          "type": "text",
          "id": "preorder_message",
          "label": "Preorder message",
          "default": "Coming soon!"
        }
      ]
    },
    {
      "type": "social-sharing",
      "name": "Social media icons",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To choose which platforms display go to 'Theme settings > Social media > Products and articles'"
        }
      ]
    },
    {
      "type": "image-with-offers",
      "name": "Image with offers",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_with_offers_image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_with_offers_link",
          "label": "Link"
        }
      ]
    },
    {
      "name": "Trust content",
      "type": "trust-content",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_1",
          "label": "First image"
        },
        {
          "type": "text",
          "id": "heading_1",
          "label": "First image heading",
          "default": "Free next day delivery"
        },
        {
          "type": "image_picker",
          "id": "icon_2",
          "label": "Second image"
        },
        {
          "type": "text",
          "id": "heading_2",
          "label": "Second image heading",
          "default": "Easy returns"
        },
        {
          "type": "image_picker",
          "id": "icon_3",
          "label": "Third image"
        },
        {
          "type": "text",
          "id": "heading_3",
          "label": "Third image heading",
          "default": "Made in the USA"
        },
        {
          "type": "image_picker",
          "id": "icon_4",
          "label": "Fourth image"
        },
        {
          "type": "text",
          "id": "heading_4",
          "label": "Fourth image heading",
          "default": "5/5 on Trustpilot"
        }
      ]
    },
    {
      "name": "Complementary products",
      "type": "complementary-products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To select complementary products, add the Search & Discovery app. [Learn more](https:\/\/shopify.dev\/themes\/product-merchandising\/recommendations)"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Pairs well with..."
        },
        {
          "type": "range",
          "id": "products_to_show",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "Products to show",
          "default": 5
        },
        {
          "type": "header",
          "content": "Color scheme"
        },
        {
          "type": "select",
          "id": "complementary_products_color_scheme",
          "label": "Color scheme",
          "options": [
            {
              "value": "general",
              "label": "General"
            },
            {
              "value": "accent-1",
              "label": "Accent 1"
            },
            {
              "value": "accent-2",
              "label": "Accent 2"
            },
            {
              "value": "accent-3",
              "label": "Accent 3"
            }
          ],
          "default": "accent-1"
        },
        {
          "type": "header",
          "content": "Product cards"
        },
        {
          "type": "select",
          "id": "comp_product_card_alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "comp_product_aspect_ratio",
          "label": "Aspect ratio",
          "default": "square",
          "options": [
            {
              "value": "natural",
              "label": {
                "en": "Natural",
                "fr": "Naturel",
                "de": "Natürlich",
                "es": "Natural",
                "pt-PT": "Natural"
              }
            },
            {
              "value": "square",
              "label": {
                "en": "Square (1:1)",
                "fr": "Carré (1: 1)",
                "de": "Quadrat (1:1)",
                "es": "Cuadrado (1:1)",
                "pt-PT": "Quadrado (1:1)"
              }
            },
            {
              "value": "tall",
              "label": {
                "en": "Tall (2:3)",
                "fr": "Grand (2: 3)",
                "de": "Groß (2:3)",
                "es": "Vertical (2:3)",
                "pt-PT": "Estreito (2:3)"
              }
            },
            {
              "value": "wide",
              "label": {
                "en": "Wide (4:3)",
                "fr": "Large (4: 3)",
                "de": "Weit (4:3)",
                "es": "Ancho (4:3)",
                "pt-PT": "Largo (4:3)"
              }
            }
          ]
        },
        {
          "type": "select",
          "id": "comp_product_cards_crop_position",
          "label": "Crop position",
          "info": "Applies to all aspect ratios apart from 'Natural'",
          "options": [
            {
              "value": "object-center",
              "label": "Center"
            },
            {
              "value": "object-left",
              "label": "Left"
            },
            {
              "value": "object-left-top",
              "label": "Left top"
            },
            {
              "value": "object-left-bottom",
              "label": "Left bottom"
            },
            {
              "value": "object-right",
              "label": "Right"
            },
            {
              "value": "object-right-top",
              "label": "Right top"
            },
            {
              "value": "object-right-bottom",
              "label": "Right bottom"
            },
            {
              "value": "object-top",
              "label": "Top"
            },
            {
              "value": "object-bottom",
              "label": "Bottom"
            }
          ]
        }
      ]
    },
    {
      "name": "Cross sells",
      "type": "cross-sells",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Don't forget these..."
        },
        {
          "type": "product",
          "id": "cross_sells_product_1",
          "label": "First cross sell product"
        },
        {
          "type": "product",
          "id": "cross_sells_product_2",
          "label": "Second cross sell product"
        },
        {
          "type": "header",
          "content": "Color scheme"
        },
        {
          "type": "select",
          "id": "cross_sells_color_scheme",
          "label": "Color scheme",
          "options": [
            {
              "value": "general",
              "label": "General"
            },
            {
              "value": "accent-1",
              "label": "Accent 1"
            },
            {
              "value": "accent-2",
              "label": "Accent 2"
            },
            {
              "value": "accent-3",
              "label": "Accent 3"
            }
          ],
          "default": "accent-1"
        },
        {
          "type": "header",
          "content": "Product cards"
        },
        {
          "type": "select",
          "id": "product_card_alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "product_cards_aspect_ratio",
          "label": "Aspect ratio",
          "default": "natural",
          "options": [
            {
              "value": "natural",
              "label": {
                "en": "Natural",
                "fr": "Naturel",
                "de": "Natürlich",
                "es": "Natural",
                "pt-PT": "Natural"
              }
            },
            {
              "value": "square",
              "label": {
                "en": "Square (1:1)",
                "fr": "Carré (1: 1)",
                "de": "Quadrat (1:1)",
                "es": "Cuadrado (1:1)",
                "pt-PT": "Quadrado (1:1)"
              }
            },
            {
              "value": "tall",
              "label": {
                "en": "Tall (2:3)",
                "fr": "Grand (2: 3)",
                "de": "Groß (2:3)",
                "es": "Vertical (2:3)",
                "pt-PT": "Estreito (2:3)"
              }
            },
            {
              "value": "wide",
              "label": {
                "en": "Wide (4:3)",
                "fr": "Large (4: 3)",
                "de": "Weit (4:3)",
                "es": "Ancho (4:3)",
                "pt-PT": "Largo (4:3)"
              }
            }
          ]
        },
        {
          "type": "select",
          "id": "product_cards_crop_position",
          "label": "Crop position",
          "info": "Applies to all aspect ratios apart from 'Natural'",
          "options": [
            {
              "value": "object-center",
              "label": "Center"
            },
            {
              "value": "object-left",
              "label": "Left"
            },
            {
              "value": "object-left-top",
              "label": "Left top"
            },
            {
              "value": "object-left-bottom",
              "label": "Left bottom"
            },
            {
              "value": "object-right",
              "label": "Right"
            },
            {
              "value": "object-right-top",
              "label": "Right top"
            },
            {
              "value": "object-right-bottom",
              "label": "Right bottom"
            },
            {
              "value": "object-top",
              "label": "Top"
            },
            {
              "value": "object-bottom",
              "label": "Bottom"
            }
          ]
        }
      ]
    },
    {
      "name": "Custom liquid",
      "type": "custom-liquid",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_accordion",
          "label": "Enable accordion",
          "default": true
        },
        {
          "type": "text",
          "id": "custom_liquid_heading",
          "label": "Heading",
          "default": "Custom liquid"
        },
        {
          "type": "liquid",
          "id": "custom-liquid",
          "label": "Custom liquid",
          "default": "<p>Add app snippets or other Liquid code to create advanced customizations.</p>"
        }
      ]
    },
    {
      "name": "Local pickup availability",
      "type": "local-pickup-availability",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Show customers where they can collect the product. [Learn more](https://help.shopify.com/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup#show-pickup-availability-to-your-customers)"
        },
        {
          "type": "header",
          "content": "Color scheme"
        },
        {
          "type": "select",
          "id": "pickup_color_scheme",
          "label": "Color scheme",
          "options": [
            {
              "value": "general",
              "label": "General"
            },
            {
              "value": "accent-1",
              "label": "Accent 1"
            },
            {
              "value": "accent-2",
              "label": "Accent 2"
            },
            {
              "value": "accent-3",
              "label": "Accent 3"
            }
          ],
          "default": "general"
        }
      ]
    },
    {
      "name": "Highlights",
      "type": "highlight",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To use this section create a [product metafield](/admin/metafields/product/create) with the namespace of “highlights” and the key “list”. This needs to be a ‘single text’ content type with the ‘List of values’ setting. [Learn more](https://support.eightthemes.com/hc/en-us/articles/8283374569361)"
        }
      ]
    },
    {
      "name": "Ask a question",
      "type": "ask-a-question",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Link"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Text",
          "default": "Ask a question"
        },
        {
          "type": "checkbox",
          "id": "test_mode",
          "label": "Enable test mode",
          "default": false
        },
        {
          "type": "header",
          "content": "Form"
        },
        {
          "type": "text",
          "id": "form_heading",
          "label": "Heading",
          "default": "Got a question?"
        },
        {
          "type": "textarea",
          "id": "form_subheading",
          "label": "Text",
          "default": "Enter your question below and we will get back to you as soon as possible."
        },
        {
          "type": "radio",
          "id": "name_input",
          "label": "Name input field",
          "options": [
            {
              "value": "hidden",
              "label": "Don't show"
            },
            {
              "value": "optional",
              "label": "Show as optional"
            },
            {
              "value": "required",
              "label": "Show as required"
            }
          ],
          "default": "required"
        },
        {
          "type": "radio",
          "id": "phone_input",
          "label": "Phone input field",
          "options": [
            {
              "value": "hidden",
              "label": "Don't show"
            },
            {
              "value": "optional",
              "label": "Show as optional"
            },
            {
              "value": "required",
              "label": "Show as required"
            }
          ],
          "default": "required"
        }
      ]
    }
  ]
}
{% endschema %}
