{% assign search_type = search.types | join: '' %}
{% liquid 
  for block in section.blocks 
    case block.settings.icon_size 
      when 'small'
        assign icon_px_width = '18px'
      when 'large'
        assign icon_px_width = '24px'
    endcase
  endfor
%}

{% if search.results.size > 0 %}
  <section
    data-color-scheme="{{ section.settings.section_color_scheme }}"
    class="bg-page text-body relative w-screen section-collection-grid"
  >
  {% if search_type == 'product' %}
    {%
      render 'flotilla-search-products-grid' with
      section_blocks: section.blocks,
      products_per_row: section.settings.products_per_row,
      products_per_row_mobile: 1,
      products_per_page: section.settings.products_per_page,
      has_pagination: true,
      product_card_alignment: section.settings.product_card_alignment,
      enable_quick_view: false,
      search_icon_block_size: icon_px_width
    %}
  {% endif %}
  </section>
{% else %}
  {% if search_type == 'product' %}
    {% render 'ship-search-no-results' with type: 'product' %}
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Products results",
  "class": "bg-page",
  "settings": [
    {
      "type": "range",
      "id": "products_per_row",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Products per row (desktop)",
      "default": 3
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 2,
      "max": 60,
      "step": 1,
      "label": "Products per page",
      "default": 12
    },
    {
      "type": "header",
      "content": "Product cards"
    },
    {
      "type": "select",
      "id": "product_card_alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "view_details_quick_add",
      "name": "View details/Quick add",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "View details"
        },
        {
          "type": "checkbox",
          "id": "enable_view_details",
          "label": "Enable \'View details\'",
          "default": true,
          "info": "Move this block above blocks you would like to show under \'View details\'"
        },
        {
          "type": "checkbox",
          "id": "view_details_open",
          "label": "Expand \'View details\' by default",
          "info": "This will decide the default view when the page first loads",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "view_details_open_all",
          "label": "Link all 'View details' buttons",
          "info": "Clicking 'View details'/'Hide details' will show/hide details for all products",
          "default": true
        },
        {
          "type": "header",
          "content": "Quick add"
        },
        {
          "type": "checkbox",
          "id": "show_quick_add",
          "label": "Show \'Quick add\' button",
          "default": false
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "product_cards_aspect_ratio",
          "label": "Aspect ratio",
          "default": "tall",
          "options": [
            {
              "value": "natural",
              "label": {
                "en": "Natural",
                "fr": "Naturel",
                "de": "Natürlich",
                "es": "Natural",
                "pt-PT": "Natural"
              }
            },
            {
              "value": "square",
              "label": {
                "en": "Square (1:1)",
                "fr": "Carré (1: 1)",
                "de": "Quadrat (1:1)",
                "es": "Cuadrado (1:1)",
                "pt-PT": "Quadrado (1:1)"
              }
            },
            {
              "value": "tall",
              "label": {
                "en": "Tall (2:3)",
                "fr": "Grand (2: 3)",
                "de": "Groß (2:3)",
                "es": "Vertical (2:3)",
                "pt-PT": "Estreito (2:3)"
              }
            },
            {
              "value": "wide",
              "label": {
                "en": "Wide (4:3)",
                "fr": "Large (4: 3)",
                "de": "Weit (4:3)",
                "es": "Ancho (4:3)",
                "pt-PT": "Largo (4:3)"
              }
            }
          ]
        },
        {
          "type": "select",
          "id": "product_cards_crop_position",
          "label": "Crop position",
          "info": "Applies to all aspect ratios apart from 'Natural'",
          "options": [
            {
              "value": "object-center",
              "label": "Center"
            },
            {
              "value": "object-left",
              "label": "Left"
            },
            {
              "value": "object-left-top",
              "label": "Left top"
            },
            {
              "value": "object-left-bottom",
              "label": "Left bottom"
            },
            {
              "value": "object-right",
              "label": "Right"
            },
            {
              "value": "object-right-top",
              "label": "Right top"
            },
            {
              "value": "object-right-bottom",
              "label": "Right bottom"
            },
            {
              "value": "object-top",
              "label": "Top"
            },
            {
              "value": "object-bottom",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "select",
          "id": "collection_hover_effect",
          "label": "Image hover effect",
          "options": [
            {
              "value": "show_second_image",
              "label": "Show second image"
            },
            {
              "value": "none",
              "label": "None"
            }
          ],
          "default": "show_second_image"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        
      ]
    },
    {
      "type": "swatch",
      "name": "Swatches",
      "limit": 1,
      "settings": [
        {
          "type": "radio",
          "id": "touch_size",
          "label": "Swatch size",
          "options": [
            {
              "value": "36",
              "label": "Small"
            },
            {
              "value": "44",
              "label": "Large"
            }
          ],
          "default": "36"
        }
      ]
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1
    },
    {
      "type": "specifications",
      "name": "Specifications",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To use this section create [product metafields](/admin/metafields/product/create) with a namespace of “specifications”. Use any name for the key, this will be used for your label. We support all ‘Measurement’, ‘Text’ and ‘Rating’ content types. [Learn more](https://support.eightthemes.com/hc/en-us/articles/8283331726865)"
        },
        {
          "type": "text",
          "id": "spec-keys",
          "label": "Metafield keys",
          "info": "Add the specification metafield keys, separated with commas (E.g. height,width,depth)."
        }
      ]
    },
    {
      "type": "icon-and-text",
      "name": "Icons with text",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To use this section create a [product metafield](/admin/metafields/product/create) with the namespace of “icons-with-text” and the key “icons-with-text”. This needs to be a \‘file\’ content type with the \‘List of files\’ setting and alt tags assigned to the image. [Learn more](https://support.eightthemes.com/hc/en-us/articles/8388599633553)"
        },
        {
          "type": "select",
          "id": "icon_size",
          "label": "Icon size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "small"
        }
      ]
    },
    {
      "type": "local-pickup-availability",
      "name": "Local pickup availability",
      "limit": 1
    },
    {
      "type": "icon-list",
      "name": "Icon list",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To use this section create a [product metafield](/admin/metafields/product/create) with the namespace of “icon” and the key “list”. This needs to be a ‘file’ content type with the ‘List of values’ setting. [Learn more](https://support.eightthemes.com/hc/en-us/articles/10615831834641)"
        }
      ]
    },
    {
      "type": "highlight",
      "name": "Highlights",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To use this section create a [product metafield](/admin/metafields/product/create) with the namespace of “highlights” and the key “list”. This needs to be a ‘single text’ content type with the ‘List of values’ setting. [Learn more](https://support.eightthemes.com/hc/en-us/articles/8283374569361)"
        }
      ]
    },
    {
      "type": "stock-level-indicator",
      "name": "Stock level indicator",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "stock_range",
          "min": 1,
          "max": 50,
          "step": 1,
          "label": "Show low stock warning at",
          "default": 5,
          "info": "Product inventory must be tracked to use this functionality."
        },
        {
          "type": "checkbox",
          "id": "show_stock_count",
          "label": "Show stock level count",
          "default": true
        },
        {
          "type": "text",
          "id": "in_stock_message",
          "label": "In stock message",
          "default": "Ready to ship"
        },
        {
          "type": "text",
          "id": "low_stock_message",
          "label": "Low stock message",
          "default": "Selling fast"
        },
        {
          "type": "text",
          "id": "out_of_stock_message",
          "label": "Out of stock message",
          "default": "Back in soon"
        }
      ]
    },
    {
      "type": "divider",
      "name": "Divider"
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Add some text information"
        }
      ]
    },
    {
      "type": "reviews",
      "name": "Reviews"
    }
  ]
}
{% endschema %}