<div class="customer reset-password flex flex-col items-center theme-section-padding">
    <div class="max-w-screen-sm w-full scroll-mt-[350px]">

        {% assign resetPasswordString = 'customer.reset_password.title' | t %}
        {% render 'armament-heading' with
        tag: 'h2',
        heading_content: resetPasswordString,
        heading_type: 'heading-2',
        data_aid: "reset-acc-password-heading",
        classes: 'text-center' %}

        <p class="text-center text-body mb-s md:mb-l">{{ 'customer.reset_password.subtext' | t }}</p>

        {%- form 'reset_customer_password' -%}

            {% if form.errors %}
                <form-errors data-form-type="reset_customer_password" data-form-name="recover password" data-errors='{{ form.errors | default_errors }}'></form-errors>
            {% endif %}

            {% capture password_attr %}
                autocomplete="new-password"
                {% if form.errors contains 'password' %}
                    aria-invalid="true"
                {% endif %}
            {% endcapture %}
            {% render 'armament-input' with
            type: "password",
            has_label: true,
            animate_label: true,
            label_text: "New password",
            id: "password",
            placeholder: "password",
            name: "customer[password]",
            required: true,
            attributes: password_attr,
            container_classes: 'mb-l md:mb-xl text-body',
            classes: 'w-full' %}

            {% capture confirm_attr %}
                autocomplete="new-password"
                {% if form.errors contains 'password_confirmation' %}
                    aria-invalid="true"
                    aria-describedby="password_confirmation-error"
                {% endif %}
            {% endcapture %}
            {% render 'armament-input' with
            type: "password",
            has_label: true,
            animate_label: true,
            label_text: "Confirm new password",
            id: "password_confirmation",
            placeholder: "Password Confirmation",
            name: "customer[password_confirmation]",
            required: true,
            attributes: confirm_attr,
            container_classes: 'mb-l md:mb-xl text-body',
            classes: 'w-full' %}

            {% assign submitString = 'customer.recover_password.submit' | t %}
            {% render 'armament-button' with
            content: submitString,
            style: 'filled',
            classes: 'my-l md:my-xl w-full',
            data_aid: 'reset-password-btn' %}

        {%- endform -%}

    </div>
</div>

{% schema %}
  {
    "name": "Reset password",
    "settings": [
    ]
  }
{% endschema %}
